body {
    background-color: #fff;
    color: #222222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.125em;

    border-top: 10px solid #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    position: relative;
    display: block;
    margin-left: 250px;
    margin-right: 250px;
}

#heading {
    font-size: 0.9em;
    padding-top: 0;
    margin-top: 0;
    
}

#heading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 10vw;
}

#heading nav {
    display: block;  
    padding: 3em 0;
    text-align: center;
    line-height: 2em;
}

#heading nav a {
  border-radius: 25px;
  border: 2px solid #222222;
  padding: .25em 2em 0.25em 2em;
  margin-right: 3px;
  text-decoration: none;
  color: #222222;
}

#heading nav :hover {
   background-color: rgb(134, 122, 122);
   color: #fff;
}

article {
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: .5em 0;
   
}

article h2 {
    font-size: 1.25 em;
    font-weight: bold;
    padding: .5em 0;
}

article p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.5em;
}

.date-time {
    text-align: right;
}

article time {
    color: grey;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

blockquote {
    background: #f9f9f9;
    border-left: 15px solid #ccc;
    margin: 1.5em 15px;
    padding: 0.5em 15px;
  }

  blockquote p {
    display: inline;
  }

#footer nav {
    display: block;  
    padding: 3em 0;
    text-align: center;
    line-height: 2em;
}

#footer nav a {
  border-radius: 25px;
  border: 2px solid #222222;
  padding: .25em 2em 0.25em 2em;
  margin-right: 3px;
  text-decoration: none;
  color: #222222;
}

#footer nav :hover {
   background-color: rgb(134, 122, 122);
   color: #fff;
}